.img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.header {
  position: relative;
  margin-top: 20px;
}

.headerAbout {
  position: absolute;
  top: 50px;
  left: -35px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.title,
.subtitle,
.btn {
  font-family: 'Tokyo pinku';
  letter-spacing: 0.2rem;
}

.title,
.subtitle {
  background-color: var(--system-color-blackishBlue);
  padding: 10px 20px;
}

.subtitle {
  font-size: var(--system-size-medium);
  color: var(--system-color-lightPurpleBlue);
}

.btn,
.lastanime__btn {
  background-color: var(--system-color-lightPurpleBlue);
  padding: 14px 23px;
  font-size: var(--system-size-medium);
  font-weight: 500;
  transition: all ease 0.3s;
}

.btn:hover,
.lastanime__btn:hover {
  background: rgb(94, 95, 118);
}

.lastAnime {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lastAnime__title {
  color: var(--system-color-accent);
  font-family: var(--system-font-playfairDisplay);
  font-size: var(--system-size-large);
  font-weight: 900;
}

.lastAnime__cards {
  margin-top: 30px;
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}

.lastanime__btn {
  display: flex;
  align-items: center;
  gap: 20px;
  transition: all ease 0.3s;
}
