.listSection {
  padding: 6px 16px;
}

.label {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 14px;
  font-weight: 300;
}

.checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--main-background-btn-color);
  border-radius: 5px;
  background-color: transparent;
  display: inline-block;
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox::before {
  content: '';
  background-color: var(--main-background-btn-color);
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 10px;
  height: 10px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

.checkbox:checked:before {
  transform: translate(-50%, -50%) scale(1);
}
