.navigation {
  font-family: 'Italiana', sans-serif;
  padding: 10px 210px;
  background: #2f3148;
  border-bottom: 2px solid #a7d1d2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #a7d1d2;
  font-size: 40px;
  font-weight: bolder;
}

.logoSearch {
  display: flex;
  align-items: center;
}
