.navigation {
  font-family: var(--system-font-italiana);
  padding: 10px 210px;
  background: var(--system-color-grayishPurpleBlue);
  border-bottom: 2px solid var(--system-color-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--system-color-accent);
  font-size: var(--system-size-large);
  font-weight: bolder;
}

.logoSearch {
  display: flex;
  align-items: center;
}

.navigationBtn {
  display: flex;
  gap: 20px;
}
