.navigation {
  font-family: var(--main-nav-font);
  padding: 10px 210px;
  background: var(--second-text-color);
  border-bottom: 2px solid var(--main-text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--main-text-color);
  font-size: var(--large-size);
  font-weight: bolder;
}

.logoSearch {
  display: flex;
  align-items: center;
}

.navigationBtn {
  display: flex;
  gap: 20px;
}

.moonIcon {
  display: block;
}

.sunIcon {
  display: none;
}
