@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Playfair+Display:wght@900&family=Roboto+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

@font-face {
  font-family: 'Karate';
  src: url('./fonts/Karate.ttf');
}

@font-face {
  font-family: 'Tokyo pinku';
  src: url('./fonts/tokyo-pinku.ttf');
}

:root {
  /* Colors */
  --system-color-accent: #a7d1d2;
  --system-color-dustyBlue: #e0f4f5;
  --system-color-blackishBlue: #101116;
  --system-color-grayishPurpleBlue: #2f3148;
  --system-color-lightPurpleBlue: #8689ac;
  --system-color-moderateBlue: #3f5576;
  --system-color-azureBlue: #015366;
  --system-color-footer: #587099;

  /* Fonts */
  --system-font-accent: 'Inter', sans-serif;
  --system-font-playfairDisplay: 'Playfair Display';
  --system-font-italiana: 'Italiana', sans-serif;

  /* Fonts size */
  --system-size-accent: 15px;
  --system-size-large: 40px;
  --system-size-medium: 25px;
  --system-size-small: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--system-font-accent);
  font-size: var(--system-size-accent);
  background-color: var(--system-color-moderateBlue);
  color: var(--system-color-accent);
}

h1 {
  font-family: var(--system-font-playfairDisplay);
  font-size: var(--system-size-large);
}

.container {
  margin: 0 auto;
  width: 1110px;
  margin-top: 20px;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: var(--system-color-accent);
}

::-webkit-input-placeholder {
  color: var(--system-color-moderateBlue);
}

ul li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}
